@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

body {
    background-color: var(--color-slate-50);
    color: var(--color-slate-900);
    transition: background-color 300ms, color 300ms;
}

.dark body {
    background-color: var(--color-slate-950);
    color: var(--color-slate-100);
}